{% extends 'mailings/base.html' %}

{% block title %}Список рассылок{% endblock %}

{% block content %}
{% include 'mailings/header.html' %}
<h2>Список рассылок</h2>

<div class="d-flex flex-wrap gap-4 mt-5">
    {% for mailing in object_list %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ mailing.name }}</h5>
            <p class="card-text">{{ mailing.status}}</p>
            <div class="mt-auto">
                <a href="{% url 'mailings:mailing_detail' mailing.pk %}" class="btn btn-primary mb-2">Подробнее</a>
            </div>
        </div>

    </div>
    {% endfor %}
</div>

{% endblock %}